h1 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
}
h2 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
}
h3{
    text-align: right;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}
p{
    line-height: 20px;
    padding-bottom: 5px;
    color: #94c258;
}
img{
    width: 500px;
    height: 300px;
    border: none;
}
.article-content{
    margin: 15px 0;
    background-color: #213e4a;
    padding: 20px;
    margin: 0 0 10px;
}
nav{
    background-color: #355664;
    padding: 0 5px;
}
ul{
    display: flex;
    justify-content:left;
    list-style: none;
    font-size: 30px;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    gap: 20px;
}
figure{
    border: 3px solid #142830;
    float: right;
    height: 300px;
    width: 500px;
    margin-left: 15px;
}
footer{
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
body{
    width: 960px;
    margin: auto;
    font-family: fantasy;
    color: #fcfcfc;
    background-color: #355664;
}
